<section id="about" class="about disable-select">
  <div class="about__card">
    <h2 class="about__title gradient-text">About me</h2>
    <p class="about__text">
      💾 My love for computers and programming began when I created a simple
      square using the ancient LOGO language. I took my first steps into the
      world of HTML and CSS during high school, where I proudly authored a
      website dedicated to supercars (all 4 pages of it). Fun fact: I devoted an
      entire month to this project and achieved the highest score in the class.
    </p>
    <p class="about__text">
      🚀 Fast forward six years, I embarked on a journey to explore various
      programming languages. In August 2021, I finally decided to dive into web
      development. Just two months later, I unleashed a web app powered by React
      and Firebase for my final year project.
    </p>
    <p class="about__text">
      💼 Today, I'm one year into my role as a developer at
      <a
        class="about__link"
        href="https://saffroninteractive.com/"
        target="_blank"
        >Saffron Interactive</a
      >, where I continue to turn my web development dreams into reality.
    </p>
    <div class="technologies">
      <h3 class="technologies__heading">
        Here are a few technologies I'm working with recently
      </h3>
      <ul class="technologies__list">
        <li class="technologies__item">JavaScript (ES 6+)</li>
        <li class="technologies__item">Sass</li>
        <li class="technologies__item">React</li>
        <li class="technologies__item">NextJs</li>
        <li class="technologies__item">Webpack</li>
        <li class="technologies__item">Typescript</li>
        <li class="technologies__item">Tailwind CSS</li>
        <li class="technologies__item">Firebase</li>
        <li class="technologies__item">Node.js</li>
        <li class="technologies__item">Express JS</li>
        <li class="technologies__item">Cypress</li>
        <li class="technologies__item">Git</li>
      </ul>
    </div>
  </div>
  <div class="about__image-wrapper">
    {% EleventyImage "/images/profile.jpg", "Illustration of an avatar",
    "(min-width: 16em) 50vw, 100vw" %}
  </div>
</section>
