<section id="about" class="about disable-select">
  <div class="about__card">
    <h2 class="about__title gradient-text">About me</h2>
    <p class="about__text">
      Hello, I’m Abajit and I love building awesome things that live on the web.
      I fell in love with computers and programming every since I made a square
      using a super old language called
      <a
        class="text-bold"
        href="https://en.wikipedia.org/wiki/Logo_(programming_language)"
        >LOGO</a
      >. I first learned about HTML and CSS in High School and wrote my first
      HTML scripts for a website about super cars (it had 4 hyperlinked pages).
    </p>
    <p class="about__text">
      <mark>
        Fun fact: I spent my entire one month vacation to design this and I
        scored the highest in the entire class.</mark
      >
    </p>
    <p class="about__text">
      Six years later, after trying out different programming languages, I
      finally decided to learn about web development in August 2021. Two months
      later, I built a web app using React and Firebase for my final year
      project. I’m now a year into my first job as a developer at
      <a
        class="about__link"
        href="https://saffroninteractive.com/"
        target="_blank"
        >Saffron Interactive</a
      >.
    </p>
  </div>
  <div class="about__image-wrapper">
    {% EleventyImage "/images/profile.jpg", "Illustration of an avatar",
    "(min-width: 16em) 50vw, 100vw" %}
  </div>
</section>
