<section class="experience" id="experience">
  <h2 class="experience__title gradient-text">Experience</h2>
  <div class="experience__card">
    <h3 class="experience__card__title">Saffron Interactive</h3>
    <ul class="experience__card__list">
      <li>
        Write modern, robust, accessible code to build e-learning web-apps for
        various clients and internal projects.
      </li>
      <li>
        Work with class and functional components in React, and a variety of
        libraries and packages, such as BackboneJS, UnderscoreJS, GSAP for
        animation, write scripts for Unit tests, using Cypress.
      </li>
      <li>
        Communicate and collaborate with project managers, designers,
        developers, QA to bring product to life.
      </li>
    </ul>
  </div>
</section>
