<section class="experience" id="experience">
  <h2 class="experience__title gradient-text">Experience</h2>
  <div class="experience__card">
    <h3 class="experience__card__title">Saffron Interactive</h3>
    <ul class="experience__card__list">
      <li>
        🚀 Spearheaded the development of cutting-edge, mind-bogglingly
        scalable, and mind-reading e-learning web applications that left clients
        and colleagues awestruck. My code could probably power a spaceship to
        Mars!
      </li>
      <li>
        💻 With the wave of my keyboard, I conjured up user interfaces so
        mesmerizing that users couldn't resist the urge to click, thanks to my
        mastery of React, TypeScript, and a mystical library collection
        including BackboneJS and GSAP.
      </li>
      <li>
        🔍 Crafted unit tests using Cypress that were so robust, they could
        detect bugs in other dimensions. Our products achieved a level of
        reliability that defied the laws of probability.
      </li>
      <li>
        🌟 Led a dream team of project managers, designers, developers, and QA
        wizards through epic quests, ensuring that our creations not only scaled
        gracefully but did so with the agility of a thousand acrobats.
      </li>
      <li>
        🦾 Single-handedly conjured a 30-minute Induction Course for Barrick
        Gold that slashed development time by 10% and increased client
        satisfaction by 20%. I then magically summoned two more projects,
        demonstrating my limitless leadership and scalability prowess.
      </li>
      <li>
        🛠️ Led the charge in constructing an interactive onboarding training
        module for Richemont, enhancing accessibility and reducing bugs by
        percentages that sound too good to be true.
      </li>
      <li>
        🕒 Managed two simultaneous projects for Kinross Gold while reducing the
        overall project timeline by a staggering 15%. Bugs quivered in fear at
        the mere mention of my name.
      </li>
    </ul>
  </div>
</section>
