<section class="experience" id="experience">
  <h2 class="experience__title gradient-text">Experience</h2>
  <div class="experience__cards">
  <div class="experience__card">
    <h3 class="experience__card__title">Saffron Interactive</h3>
    <p class="experience__card__location">Pune, India (2022 - 2024)</p>
    <p class="experience__card__description">Led the development of modern, scalable, and accessible e-learning web applications for diverse clients and internal projects, with a strong focus on frontend scalability and effective cross-functional collaboration. Leveraging React, TypeScript, and various libraries like BackboneJS and GSAP, created robust, interactive, and visually engaging user interfaces. Ensured product reliability and quality through comprehensive unit testing with Cypress, and worked closely with project managers, designers, developers, and QA teams to bring products to life, maintaining alignment with agile methodologies and prioritizing seamless user experiences.</p>
  </div>
  <div class="experience__card">
    <h3 class="experience__card__title">Brakeup Internet Technologies</h3>
    <p class="experience__card__location">Bengaluru, India (2024 - Present)</p>
    <p class="experience__card__description">Developed responsive and cross-browser-compatible interfaces for a high-traffic e-commerce platform, enhancing user engagement and retention through a seamless user experience. Collaborated with backend and data teams to deliver data visualizations and performance insights, enabling tracking of user retention and supporting continuous improvements to the platform's user experience. Actively participated in weekly cross-functional meetings with product and design teams, aligning UX objectives with technical specifications to drive cohesive project outcomes. Optimized frontend performance, reducing page load times by 20% and decreasing bounce rates by 15%, significantly improving overall user experience.</p>
  </div>
  </div>
</section>
