<footer class="footer" id="contact">
  <h2 class="footer__title gradient-text">Get in touch</h2>
  <p class="footer__text">
    Whether you have a new opportunity, a question in mind, or just want to say
    hi, feel free to drop me an email! I'll be sure to get back to you as soon
    as possible. Let's see what we can create together!
  </p>
  <div class="footer__links">
    <a href="mailto:abajitdey@zohomail.in" class="footer__link">Say Hello</a>
    <!-- <a href="pdfs/Resume.pdf" target="_blank" class="footer__link">Resume</a> -->
  </div>
  <div class="footer__links">
    <a href="https://github.com/BasicallyMe" target="_blank">
      {% EleventySVG "/icons/github_icon.svg", "Icon for github", "(min-width:
      30px) 50vw, 100vw" %}
    </a>
    <a href="https://www.linkedin.com/in/abajit-dey-704b73206/" target="_blank">
      {% EleventySVG "/icons/linkedin_icon.svg", "Icon for linkedin",
      "(min-width: 30px) 50vw, 100vw" %}
    </a>
    <a href="https://twitter.com/justAbajit" target="_blank">
      {% EleventySVG "/icons/twitter_icon.svg", "Icon for github", "(min-width:
      30px) 50vw, 100vw" %}
    </a>
    <a href="https://www.instagram.com/basicallyababy/" target="_blank">
      {% EleventySVG "/icons/instagram_icon.svg", "Icon for linkedin",
      "(min-width: 30px) 50vw, 100vw" %}
    </a>
  </div>
  <p class="footer__credit">
    <a href="https://github.com/BasicallyMe/basically-portfolio"
      >Designed & Built by Abajit Dey</a
    >
  </p>
  <!-- <p class="footer__text notification">
    <mark>
      This website is currently being developed & tested. Please contact me
      <a href="mailto:abajitdey@zohomail.in">here</a> in case of any queries
    </mark>
  </p> -->
</footer>
