<footer class="footer" id="contact">
  <p>
    This website is currently being developed & tested. Please contact me <a href="mailto:abajitdey@zohomail.in">here</a> in case of any queries
  </p>
  <p>&copy; Abajit Dey {% year %}</p>
</footer>
