<section class="profile">
  <div class="profile__card">
    <h1 class="profile__title">Hi</h1>
    <h1 class="profile__title">I'm Abajit</h1>
    <p class="profile__text">
      A gamer turned software developer from Assam, India.
    </p>
    <p class="profile__text">
      As a <span class="profile__text--highlight">Frontend Developer</span>, I
      love building sites and apps that help people reach their personal and
      professional goals.
    </p>
    <p class="profile__text">
      I focus on speed, security and scalability, using React.js and Firebase to
      create rich, dynamic experiences.
    </p>
    <p class="profile__text">
      I'm always open to new opportunities and projects. So don't hesitate to
      <a class="profile__link" href="/contact">get in touch</a>.
    </p>
  </div>
</section>
