<section class="profile disable-select">
  <div class="profile__card">
    <p class="profile__text">Hi, my name is</p>
    <h1 class="profile__title">Abajit Dey</h1>
    <p class="profile__text">
      As a web developer, I love building (occasionally designing) experiences
      for the web. I enjoy learning ways to make the web more engaging and
      accessible for all. I'm currently working as a developer, but I'm always
      open to new opportunities and ideas. So don't hesitate to
      <a class="profile__link" href="/contact">get in touch</a>.
    </p>
  </div>
</section>
