@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap");

$sans-font: Montserrat;
$code-font: "Source Code Pro";
$light-pinkish-color: #f7cacd;
$dark-pinkish-color: #de4d86;
$skin-pink-color: #f29ca3;
$dark-bluish-color: #26547c;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;

  a {
    text-decoration: none;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 15vh;
  font-family: $sans-font;

  #logo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      height: 100%;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;

    li {
      margin-right: 20px;
      font-size: 15px;
      font-weight: 600;
      list-style-type: none;

      a {
        color: black;
      }
    }
  }
}

main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: $sans-font;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
  }

  span {
    font-family: $code-font;
    font-weight: 500;
  }
}
section {
  margin: 4rem 0;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
}
/* styles for various classes */

.section-content {
  width: 50%;
  padding: 1rem;
  justify-self: center;
  align-self: center;
  p {
    font-size: 1rem;
    font-family: $code-font;
    font-weight: 500;
    a {
      text-decoration: none;
      color: blue;
    }
  }
  ul {
    font-size: 0.9rem;
    font-weight: 500;
    list-style: none;
    border-radius: 0.6rem;
    padding: 0.5rem;
  }
}

.section-graphic {
  width: 50%;
}

.sans-font {
  font-family: $sans-font;
}
.code-font {
  font-family: $code-font;
}
.section-sub-topics {
  padding: 1rem;
}
.sub-topic-title {
  font-weight: 600;
}

#about {
  #image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
      border-radius: 1rem;
    }
    span {
      font-family: $code-font;
      font-size: 0.8rem;
    }
  }
}

#skill-card {
  display: grid;
  gap: 2rem;
  font-family: $sans-font;

  /* grid properties */
  grid-template-columns: repeat(2, 12rem);
  grid-auto-rows: minmax(240px, 1fr);
  justify-content: center;

  .card {
    border-radius: 10px;
    padding: 10px;

    .card-icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70%;

      img {
        width: 70%;
      }
    }
    h3 {
      text-align: center;
    }
  }
}

footer {
  background-color: $dark-bluish-color;
  padding: 2rem;
  display: flex;
  flex-direction: row;

  #footer-desc {
    width: 30%;
    color: $light-pinkish-color;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-family: $code-font;
      font-weight: 500;
      font-size: 0.9rem;
      text-align: center;
    }
  }

  #footer-links {
    width: 30%;
    border-left: solid 1px $light-pinkish-color;
    ul {
      list-style: none;
      font-family: $code-font;
      color: $light-pinkish-color;
      padding: 10px;
      li {
        padding: 0.2rem;
      }
    }
  }
}
