@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0%;
  padding: 0%;
  font-family: Inter, sans-serif;
  overflow: auto;
}

main {
  background-color: black;
  height: 100vh;

  header {
    color: white;
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;


    #random-word-div {
      width: 30%;      
      p {
        padding-left: 30px;
        cursor: pointer;
      }
    }
    nav {
      width: 70%;
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li {
          padding: 0 30px;
        }
      }
    }
  }
}