@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap");

$sans-font: Montserrat;
$code-font: 'Source Code Pro';
$light-pinkish-color: #F7CACD;
$dark-pinkish-color: #DE4D86;
$dark-bluish-color: #26547C;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;

  a {
    text-decoration: none;
  }
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 15vh;
  font-family: $sans-font;

  #logo {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      height: 100%;
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;

    li {
      margin-right: 20px;
      font-size: 15px;
      font-weight: 600;
      list-style-type: none;

      a {
        color: black;
      }
    }
  }
}

main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: $sans-font;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
  }

  span {
    font-family: $code-font;
    font-weight: 500;
  }
}
section {
  margin: 4rem 0;
  padding: 3rem 0;
}
#about {
  display: flex;
  flex-direction: row;

  #image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
      border-radius: 1rem;
    }
    span {
      font-family: $code-font;
      font-size: .8rem;
    }
  }
  #about-content {
    width: 50%;
    padding: 1rem;

    header {
      font-size: 2em;
    }
    p {
      font-size: 1rem;
      a {
        text-decoration: none;
        color: blue;
      }
    }
    .about-content-section {
      padding: 1rem;
    }
    .about-titles {
      font-weight: 600;
      font-size: 1.5rem;
    }
    .sans-font {
      font-family: $sans-font;
    }
    .code-font {
      font-family: $code-font;
      font-weight: 500;
    }
  }
}
footer {
  background-color: $dark-bluish-color;
  padding: 2rem;
  display: flex;
  flex-direction: row;

  #footer-desc {
    width: 40%;
    color: $light-pinkish-color;
    margin-right: 10px;
    header {
      font-family: $sans-font;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
    }
    p {
      font-family: $code-font;
      font-weight: 500;
      font-size: 0.9rem;
    }
  }

  #footer-links {
    width: 30%;
    border-left: solid 1px $light-pinkish-color;
    ul {
      list-style: none;
      font-family: $code-font;
      color: $light-pinkish-color;
      padding: 10px;
      li {
        padding: 0.2rem;
      }
    }
  }
}