---
layout: "base.njk"
---

<div class="projects__header">
  <h2 class="projects__heading">Recent projects</h2>
  <a href="/#projects" class="projects__header__link">Back</a>
</div>
<div class="project-list">
  {% asyncEach project in collections.projects %} {% include "project-card.njk"
  %} {% endeach %}
</div>
